.header {
    display: flex;
    height:100px ;
}
.header *{
    margin: 10px;
}

.a_link{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
}
.a_link:hover{
    
    text-decoration: underline;
}

#squares{
    background-color:gray;
    width: 28px;
}
#squares:hover{
    background-color: black;
    
}
#profile{
    /*background-color:gray;*/
    width: 30px;
}
.image{
    margin: 0px;
}


.main-div{
    margin:5px 0px; 
    padding:0px;
    text-align:center;
/*    align:center;*/
}



input[type="text"]{
        margin: 5px;
        width: 35%;
        height: 15px;
        box-sizing: content-box;
        border: 1px solid #ccc;
        border-radius: 40px;
        font-size: 16px;
        background-color: white;
        background-image: url(images/search2.png);
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
}

input[type="text"]:hover {       
    box-shadow: 1px 1px 4px 1px  lightgray ;

}

input[type="submit"]{
    height: 40px;
    width: 150px;
    margin:5px;
    border-radius: 5px; 
    border: honeydew;
}

input[type="submit"]:hover{
    border: 1px solid gray;
}